.done-true{
    text-decoration: line-through;
    color: grey;
}
#wrap {
	width: 500px;
	padding: 30px;
	color: #999;

}
.inner-wrap {
	border: 2px solid #00BFFF;
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
	overflow: auto;
}
section {
	margin: 20px;
}
.right {
	float: right;
}
.dotted {
	border-bottom: 1px dashed grey;
}

#categories ul li p {
	overflow: auto;
}

.hidden {
	display:none;
}

.icon-remove {
	margin-right: 50px;
}

.title {
	position: relative;
	z-index: 1;
}
.title:hover span {
	display: block;
	border: 2px solid #fff;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0px;
	background: #00BFFF;
	z-index: 2;
	border-radius: 10px;
	color: #fff;
}

p {
	margin: 0 !important;
}

