<!doctype html>
<html ng-app="todo">
<head>
  <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="app.css" />
</head>
<body>
<div id="wrap" ng-controller="TodoCtrl">
  <h1>DYANAMIC LIST</h1>
  <div class="inner-wrap" id="categories">
    <h2>Categories</h2>
    <form class="form-horizontal">
      <input type="text" ng-model="formCategoryText" ng-model-instant>
      <button class="btn" ng-click="addCategory()"><i class="icon-plus"></i>Add</button>
    </form>
    <hr />
    <ul ui-sortable ng-model="categories">
      <li ng-repeat="todo in categories | orderBy:predicate:category">
        <p ng-model="todo.removeMe">{{todo.category}} <a ng-click="deleteCategory()"><i class="icon-remove right"></i></a></p>
      </li>
    </ul>
  </div><!--#category-->
  <div class="inner-wrap"  id="list">
    <h2>Add A Task</h2>
    <hr />
    <form class="form-horizontal">
      <section>
        <label>Select A Category:</label>
        <select ng-model="selectedCategory">
          <option ng-repeat="todo in categories | orderBy:predicate:reverse">
            {{todo.category}}
          </option>
        </select>
      </section>
      <section>
        <label>Title:</label>
        <input type="text" ng-model="formTodoText" ng-model-instant>
      </section>
      <section>
        <label>Due on:</label>
        <input id="date"type="text" ng-model="formDate" ui-date ui-date-format="m/dd/y">

      </section>
      <section>
        <label>Note:</label>
        <textarea ng-model="formNoteText"></textarea>
      </section>
      <button class="btn right" ng-click="addTodo()"><i class="icon-plus"></i>  Add</button>
    </form>
  </div><!--#list-->
  <div class="inner-wrap" id="list">
    <h2>Task List</h2>
    <hr />
    <table cellpadding="5px" cellspacing="0">
      <tr class="dotted">
        <td width="10px"><input type="checkbox" name="select-all" id="select-all" /></td>
        <td width="300px"><a ng-click="predicate='title'">  Title</span></td>
        <td width="10px">  Note</td>
        <td width="100px"><a ng-click="predicate='category'">  Category</span></td>
        <td><a ng-click="predicate='date'">  Due</span></td>
      </tr>
      <tr ui-sortable ng-model="todos" ng-repeat="todo in todos | orderBy:predicate">
        <td><input type="checkbox" ng-model="todo.done"></td>
        <td>
          <p class="title done-{{todo.done}}">{{todo.title}}</p>
        </td>
        <td width="10px">
          <i class="icon-list-alt">
            <!-- {{todo.note}} -->
          </i>
        </td>
        <td><span class="done-{{todo.done}}" ng-click="">{{todo.category}}</span></td>
        <td><span class="done-{{todo.done}}">{{todo.date}}</span></td>
      </tr>
    </table>
    <br />
    You have <strong>{{getTotalTodos()}}</strong> things to do!
  </div><!--#list-->
  <div class="inner-wrap" id="options">
    <h2>Preferences</h2>
    <hr />
    <a ng-click="clearCompleted()"><i class="icon-trash"></i>  Clear Completed</a>
  </div>
</div><!--/wrap-->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="http://angular-ui.github.com/angular-ui/build/angular-ui.css" />
<script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
<script src="http://angular-ui.github.com/angular-ui/build/angular-ui.js"></script>

<script src="app.js"></script>
<script src="directives.js"></script>
<script src="ui.js"></script>

</body>
</html>
